svg{
    margin-right: 10px;
}

svg:hover{
    cursor: pointer;
}

.icons-group{
    margin: 0 0 10px 10px;
}

.message-form{
    border: 1px solid var(--shades)!important;
    border-radius: 5px;
    background-color: var(--light)!important;
    /* position: fixed;
    bottom: 10px; */
    align-self: center;
    width: 60vw;
}

.text-input{
    background-color: var(--light)!important;
    border-radius: 5px;
}